[Desktop Entry]
Name=Obsidian
Exec=bash  __HOME__/.obsidian_app/obsidian_launcher.sh %f
TryExec=/bin/bash
Terminal=false
Type=Application
Icon=__HOME__/.obsidian_app/obsidian_icon.png
StartupWMClass=obsidian
Comment=Obsidian - VAult-based Markdown Wditor
Categories=Office;Utility;
StartupNotify=true
MimeType=x-scheme-handler/obsidian;text/markdown;text/x-markdown;
